{% extends 'base.html' %}  <!-- Extende o template base.html para reutilizar o layout principal -->
{% load static %}  <!-- Carrega a tag static para gerenciar arquivos estáticos -->

{% block content %}
    <h1>Pedido de Adoção</h1>  <!-- Título da página -->

    <!-- Formulário para cadastro de gatos -->
    <form action="{% url 'cadastro_animal' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}  <!-- Proteção contra ataques CSRF para garantir a segurança do formulário -->
        
        <!-- Renderiza os campos do formulário como uma tabela -->
        <table>
            {{ form.as_table }}  <!-- Gera o formulário em formato de tabela, mantendo a estrutura de layout uniforme -->
        </table>

        <!-- Botão para enviar o formulário -->
        <button type="submit">Cadastrar</button>  <!-- Envia os dados do formulário para o servidor -->
    </form>
{% endblock %}
