{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="pet-info">
            <div class="photo">
                <img src="{{ animal.foto.url }}" alt="{{ animal.nome }}">
            </div>
            <div class="details">
                <h2 class="highlight-text">{{ animal.nome }}</h2>
                <p>{{ animal.tipo }} | {{ animal.gênero }} | {{ animal.idade }} | {{ animal.porte }} | {{ animal.raca }}</p>
                <p><strong>Local:</strong> São Paulo</p>
                <p><strong>História:</strong> {{ animal.descricao }}</p>
                <a href="{% url 'adocao' animal.id %}" class="adopt-button">Quero Adotar</a>
                
                <div class="medical-info">
                    <h3 class="medical-title">Detalhes Médicos:</h3>
                    <div class="status">
                        {% for detalhe in animal.cuidados %}
                            <div class="medical-detail">{{ detalhe }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <h3 class="section-title">Localização:</h3>
            <iframe src="{% url 'map' %}" class="location-map"></iframe>
        </div>

        <div class="other-pets">
            <h3 class="section-title">Outros peludos esperando seu clique</h3>
            <div class="gallery">
                <div class="pet-card">[Pet 1]</div>
                <div class="pet-card">[Pet 2]</div>
                <div class="pet-card">[Pet 3]</div>
                <div class="pet-card">[Pet 4]</div>
            </div>
        </div>
    </div>
{% endblock %}