{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Cabeçalho / Navegação -->
<header>
    <nav class="nav-container">
        <ul class="nav-list">
            <li><a href="#" class="nav-button">Quero Adotar</a></li>
            <li><a href="#" class="nav-button">Quero Ajudar</a></li>
            <li><a href="#" class="nav-button">Gafeteria</a></li>
            <li><a href="#" class="nav-button">Livraria</a></li>
            <li><a href="#" class="nav-button">Produtos</a></li>
            <li><a href="#" class="nav-button">Contato</a></li>
        </ul>
    </nav>
</header>

<!-- Seção de Pets -->
<section class="pets-grid" style="margin-top: 40px;">
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Abel</p>
        </div>
        <img src="{% static 'images/nekos/cat1.jpg' %}" alt="Abel" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Plínio</p>
        </div>
        <img src="{% static 'images/nekos/cat2.jpg' %}" alt="Plínio" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Channel</p>
        </div>
        <img src="{% static 'images/nekos/cat3.jpg' %}" alt="Channel" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Cocada</p>
        </div>
        <img src="{% static 'images/nekos/cat4.jpg' %}" alt="Cocada" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Bruno</p>
        </div>
        <img src="{% static 'images/nekos/cat5.jpg' %}" alt="Bruno" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Pietra</p>
        </div>
        <img src="{% static 'images/nekos/cat6.jpg' %}" alt="Pietra" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Mexerica</p>
        </div>
        <img src="{% static 'images/nekos/cat7.jpg' %}" alt="Mexerica" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Lisbela</p>
        </div>
        <img src="{% static 'images/nekos/cat8.jpg' %}" alt="Lisbela" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Ken</p>
        </div>
        <img src="{% static 'images/nekos/cat9.jpg' %}" alt="Ken" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Chuvisco</p>
        </div>
        <img src="{% static 'images/nekos/cat10.jpg' %}" alt="Chuvisco" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Vicky</p>
        </div>
        <img src="{% static 'images/nekos/cat11.jpg' %}" alt="Vicky" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Bart</p>
        </div>
        <img src="{% static 'images/nekos/cat12.jpg' %}" alt="Bart" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
</section>

<!-- Seção de Livros -->
<section class="livros-grid" style="margin-top: 40px;">
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 1</p>
        </div>
        <img src="{% static 'images/books/book1.jpg' %}" alt="Título do Livro 1" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 1</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 2</p>
        </div>
        <img src="{% static 'images/books/book2.jpg' %}" alt="Título do Livro 2" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 2</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 3</p>
        </div>
        <img src="{% static 'images/books/book3.jpg' %}" alt="Título do Livro 3" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 3</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 4</p>
        </div>
        <img src="{% static 'images/books/book4.jpg' %}" alt="Título do Livro 4" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 4</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 5</p>
        </div>
        <img src="{% static 'images/books/book5.jpg' %}" alt="Título do Livro 5" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 5</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 6</p>
        </div>
        <img src="{% static 'images/books/book6.jpg' %}" alt="Título do Livro 6" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 6</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 7</p>
        </div>
        <img src="{% static 'images/books/book7.jpg' %}" alt="Título do Livro 7" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 7</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 8</p>
        </div>
        <img src="{% static 'images/books/book8.jpg' %}" alt="Título do Livro 8" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 8</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 9</p>
        </div>
        <img src="{% static 'images/books/book9.jpg' %}" alt="Título do Livro 9" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 9</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 10</p>
        </div>
        <img src="{% static 'images/books/book10.jpg' %}" alt="Título do Livro 10" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 10</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 11</p>
        </div>
        <img src="{% static 'images/books/book11.jpg' %}" alt="Título do Livro 11" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 11</p>
        </div>
    </div>
    <div class="livro-card">
        <div class="livro-info-top">
            <p>Título do Livro 12</p>
        </div>
        <img src="{% static 'images/books/book12.jpg' %}" alt="Título do Livro 12" class="livro-img">
        <div class="livro-info-bottom">
            <p>Descrição do Livro 12</p>
        </div>
    </div>
</section>

<!-- Seção de Rodapé -->
<footer>
    <p>&copy; 2024 Carton Cat. Todos os direitos reservados.</p>
    <div class="footer-imagens">
        <!-- Imagens dos responsáveis ou pessoas associadas -->
    </div>
</footer>
{% endblock %}