{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Cabeçalho / Navegação -->
<header>
    <nav class="nav-container">
        <ul class="nav-list">
            <li><a href="#" class="nav-button">Quero Adotar</a></li>
            <li><a href="#" class="nav-button">Quero Ajudar</a></li>
            <li><a href="#" class="nav-button">Gafeteria</a></li>
            <li><a href="#" class="nav-button">Livraria</a></li>
            <li><a href="#" class="nav-button">Produtos</a></li>
            <li><a href="#" class="nav-button">Contato</a></li>
        </ul>
    </nav>
</header>

<!-- Conteúdo Principal -->
<main class="content-grid">
    <!-- Coluna de Gatos -->
    <section class="pets-column">
        <h2>Gatos para Adoção</h2>
        <div class="pets-grid">
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Abel</p>
                </div>
                <img src="{% static 'images/nekos/cat1.jpg' %}" alt="Gato Abel" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Abel">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Plínio</p>
                </div>
                <img src="{% static 'images/nekos/cat2.jpg' %}" alt="Gato Plínio" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Plínio">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Channel</p>
                </div>
                <img src="{% static 'images/nekos/cat3.jpg' %}" alt="Gato Channel" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Channel">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Cocada</p>
                </div>
                <img src="{% static 'images/nekos/cat4.jpg' %}" alt="Gato Cocada" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Cocada">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Bruno</p>
                </div>
                <img src="{% static 'images/nekos/cat5.jpg' %}" alt="Gato Bruno" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Bruno">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Pietra</p>
                </div>
                <img src="{% static 'images/nekos/cat6.jpg' %}" alt="Gato Pietra" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Pietra">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Mexerica</p>
                </div>
                <img src="{% static 'images/nekos/cat7.jpg' %}" alt="Gato Mexerica" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Mexerica">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Lisbela</p>
                </div>
                <img src="{% static 'images/nekos/cat8.jpg' %}" alt="Gato Lisbela" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Lisbela">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Ken</p>
                </div>
                <img src="{% static 'images/nekos/cat9.jpg' %}" alt="Gato Ken" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Ken">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Chuvisco</p>
                </div>
                <img src="{% static 'images/nekos/cat10.jpg' %}" alt="Gato Chuvisco" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Chuvisco">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Vicky</p>
                </div>
                <img src="{% static 'images/nekos/cat11.jpg' %}" alt="Gato Vicky" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Vicky">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Bart</p>
                </div>
                <img src="{% static 'images/nekos/cat12.jpg' %}" alt="Gato Bart" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Bart">Adote-me</button>
                </div>
            </div>
            <!-- Novos Gatos -->
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Felix</p>
                </div>
                <img src="{% static 'images/nekos/cat13.jpg' %}" alt="Gato Felix" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Felix">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Garfield</p>
                </div>
                <img src="{% static 'images/nekos/cat14.jpg' %}" alt="Gato Garfield" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Garfield">Adote-me</button>
                </div>
            </div>
            <div class="pet-card">
                <div class="pet-info-top">
                    <p>Tom</p>
                </div>
                <img src="{% static 'images/nekos/cat15.jpg' %}" alt="Gato Tom" class="pet-img">
                <div class="pet-info-bottom">
                    <button class="adote-me-btn" aria-label="Adotar Tom">Adote-me</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Coluna de Livros -->
    <section class="books-column">
        <h2>Livros sobre Gatos</h2>
        <div class="livros-grid">
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 1</p>
                </div>
                <img src="{% static 'images/books/book1.jpg' %}" alt="Livro Título do Livro 1" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 1">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 2</p>
                </div>
                <img src="{% static 'images/books/book2.jpg' %}" alt="Livro Título do Livro 2" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 2">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 3</p>
                </div>
                <img src="{% static 'images/books/book3.jpg' %}" alt="Livro Título do Livro 3" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 3">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 4</p>
                </div>
                <img src="{% static 'images/books/book4.jpg' %}" alt="Livro Título do Livro 4" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 4">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 5</p>
                </div>
                <img src="{% static 'images/books/book5.jpg' %}" alt="Livro Título do Livro 5" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 5">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 6</p>
                </div>
                <img src="{% static 'images/books/book6.jpg' %}" alt="Livro Título do Livro 6" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 6">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 7</p>
                </div>
                <img src="{% static 'images/books/book7.jpg' %}" alt="Livro Título do Livro 7" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 7">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 8</p>
                </div>
                <img src="{% static 'images/books/book8.jpg' %}" alt="Livro Título do Livro 8" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 8">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 9</p>
                </div>
                <img src="{% static 'images/books/book9.jpg' %}" alt="Livro Título do Livro 9" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 9">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 10</p>
                </div>
                <img src="{% static 'images/books/book10.jpg' %}" alt="Livro Título do Livro 10" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 10">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 11</p>
                </div>
                <img src="{% static 'images/books/book11.jpg' %}" alt="Livro Título do Livro 11" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 11">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 12</p>
                </div>
                <img src="{% static 'images/books/book12.jpg' %}" alt="Livro Título do Livro 12" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 12">Saiba Mais</button>
                </div>
            </div>
            <!-- Novos Livros -->
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 13</p>
                </div>
                <img src="{% static 'images/books/book13.jpg' %}" alt="Livro Título do Livro 13" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 13">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 14</p>
                </div>
                <img src="{% static 'images/books/book14.jpg' %}" alt="Livro Título do Livro 14" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 14">Saiba Mais</button>
                </div>
            </div>
            <div class="livro-card">
                <div class="livro-info-top">
                    <p>Título do Livro 15</p>
                </div>
                <img src="{% static 'images/books/book15.jpg' %}" alt="Livro Título do Livro 15" class="livro-img">
                <div class="livro-info-bottom">
                    <button class="saiba-mais-btn" aria-label="Saiba mais sobre Título do Livro 15">Saiba Mais</button>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Seção de Rodapé -->
<footer>
    <p>&copy; 2024 Carton Cat. Todos os direitos reservados.</p>
    <div class="footer-imagens">
        <!-- Imagens dos responsáveis ou pessoas associadas -->
    </div>
</footer>
{% endblock %}