{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4 text-center">Registro de Usuário</h1>
            <p class="text-muted text-center mb-4">Por favor, preencha o formulário abaixo para criar sua conta.</p>

            <form method="post" class="form">
                {% csrf_token %}
                
                <!-- Helper para criar cada campo com validações -->
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas {{ field.name|field_icon }}"></i>
                                </span>
                            </div>
                            {{ field|add_class:"form-control" }}
                        </div>
                        
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {{ field.errors.as_text }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <!-- Botão de Envio -->
                <button type="submit" class="btn btn-primary btn-block mt-3">Registrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
