:root {
    --primary-color: #94bce7;
    --secondary-color: #a8e6cf;
    --background-color: rgba(229, 239, 137, 0.9); /* Fundo translúcido */
    --text-color: #ff69b4;
    --hover-shadow: 0 6px 12px rgba(255, 182, 193, 0.3); /* Sombra ao passar o mouse */
    --lilac-color: #c6f0c5;
}

/* Estilo do corpo da página */
body {
    background: url("../images/background.JPG") no-repeat center center fixed; /* Imagem de fundo */
    background-size: cover; /* Cobrir toda a tela */
    color: var(--text-color); /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remover margens */
    padding: 0; /* Remover preenchimento */
    overflow-x: hidden; /* Evitar barra de rolagem horizontal */
}

/* Estilo do contêiner principal */
.container {
    text-align: center; /* Centralizar texto */
    padding: 50px; /* Espaçamento interno */
}

/* Estilo dos botões */
.button,
.nav-button,
.entrar-btn,
.pesquisa-btn,
.divulgar-btn,
.buscar-btn,
.adote-me-btn {
    background-color: var(--primary-color); /* Cor de fundo */
    color: #ff69b4; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 20px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.button {
    padding: 15px 40px; /* Espaçamento interno */
}

.nav-button,
.entrar-btn,
.pesquisa-btn,
.divulgar-btn,
.buscar-btn,
.adote-me-btn {
    padding: 10px 20px; /* Espaçamento interno */
    max-width: 150px; /* Largura máxima */
}

.nav-button,
.entrar-btn {
    padding: 15px 30px; /* Espaçamento interno */
}

.button:hover,
.button:focus,
.nav-button:hover,
.nav-button:focus,
.entrar-btn:hover,
.entrar-btn:focus,
.pesquisa-btn:hover,
.pesquisa-btn:focus,
.divulgar-btn:hover,
.divulgar-btn:focus,
.buscar-btn:hover,
.buscar-btn:focus,
.adote-me-btn:hover,
.adote-me-btn:focus {
    background-color: var(--secondary-color); /* Cor de fundo ao passar o mouse */
    color: var(--primary-color); /* Cor do texto ao passar o mouse */
    box-shadow: var(--hover-shadow); /* Sombra ao passar o mouse */
    transform: translateY(-5px); /* Elevar botão */
    outline: none; /* Remover contorno */
}

.entrar-btn {
    position: absolute; /* Posição absoluta */
    top: 15px; /* Posição no topo */
    right: 10px; /* Posição à direita */
    transform: scale(1.05); /* Aumentar botão */
}

/* Estilo do contêiner do cabeçalho */
.header-container {
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Espaçar itens */
    align-items: center; /* Alinhar itens ao centro */
    padding: 10px; /* Espaçamento interno */
    background-color: var(--background-color); /* Cor de fundo */
    position: sticky; /* Fixa no topo da página ao rolar */
    top: 0; /* Posição no topo */
    z-index: 1000; /* Prioridade na sobreposição */
}

/* Estilo da lista de navegação */
.nav-list {
    display: flex; /* Layout flexível */
    align-items: center; /* Alinhar itens ao centro */
    list-style: none; /* Remover estilo de lista */
    padding: 0; /* Remover preenchimento */
    margin: 0; /* Remover margens */
}

.nav-list li {
    margin-right: 20px; /* Espaçamento à direita */
}

/* Estilo da grade de pets */
.pets-grid {
    display: flex; /* Layout flexível */
    flex-wrap: wrap; /* Quebrar linha quando necessário */
    justify-content: center; /* Centralizar itens */
    gap: 20px; /* Espaçamento entre itens */
    margin-top: 15px; /* Margem superior */
}

/* Estilo dos cartões de pets */
.pet-card {
    background-color: var(--lilac-color); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    display: flex; /* Layout flexível */
    flex-direction: column; /* Direção da flexbox */
    align-items: center; /* Alinhar itens ao centro */
    width: 180px; /* Largura */
    box-shadow: var(--hover-shadow); /* Sombra */
}

/* Estilo das imagens dos pets */
.pet-img {
    width: 150px; /* Largura */
    height: 150px; /* Altura */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo das informações dos pets */
.pet-info-top,
.pet-info-bottom {
    text-align: center; /* Centralizar texto */
    color: #ff69b4; /* Cor do texto */
}

.pet-info-top p {
    margin: 0; /* Remover margens */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #ff69b4; /* Cor do texto */
}

.pet-info-bottom {
    margin-top: 10px; /* Margem superior */
}

/* Estilo do formulário de busca */
.search-form {
    display: flex; /* Layout flexível */
    flex-wrap: wrap; /* Quebrar linha quando necessário */
    justify-content: center; /* Centralizar itens */
    gap: 20px; /* Espaçamento entre itens */
    margin-top: 20px; /* Margem superior */
}

/* Estilo dos campos de entrada e seleção do formulário de busca */
.search-input,
.search-select,
.buscar-btn {
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remover borda */
}

.search-input,
.search-select {
    background-color: var(--primary-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
}

/* Estilo do botão de busca */
.buscar-btn {
    background-color: var(--primary-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.buscar-btn:hover,
.buscar-btn:focus {
    background-color: var(--secondary-color); /* Cor de fundo ao passar o mouse */
    color: var(--primary-color); /* Cor do texto ao passar o mouse */
    box-shadow: var(--hover-shadow); /* Sombra ao passar o mouse */
    transform: scale(1.05); /* Aumentar botão */
    outline: none; /* Remover contorno */
}

/* Estilo do rodapé */
footer {
    text-align: center; /* Centralizar texto */
    padding: 20px; /* Espaçamento interno */
    background-color: var(--background-color); /* Cor de fundo */
    color: var(--text-color); /* Cor do texto */
}

/* Estilo das imagens do rodapé */
.footer-imagens {
    margin-top: 20px; /* Margem superior */
}

/* Estilo responsivo para telas menores */
@media (max-width: 768px) {
    .button-group {
        flex-direction: column; /* Direção da flexbox */
        width: 100%; /* Largura total */
    }

    .pesquisa-btn,
    .divulgar-btn {
        width: 100%; /* Largura total */
    }
}