:root {
    --primary-color: #94bce7;
    --secondary-color: #d2a2fc;
    --background-color: rgba(229, 239, 137, 0.9);
    --text-color: #ff1493; /* Rosa mais escuro */
    --highlight-color: rgba(198, 240, 197, 0.8); /* Cor de destaque com transparência */
    --hover-shadow: 0 6px 12px rgba(255, 182, 193, 0.3);
    --book-background-color: rgba(255, 192, 203, 0.8); /* Fundo rosa claro para os livros com transparência */
    --book-text-color: #94bce7;
}

/* Estilo Global */
* {
    font-family: Arial, sans-serif; /* Define a fonte como Arial */
    color: #d2a2fc; /* Define a cor do texto */
    border-width: 5px; /* Define o tamanho das bordas */
    border-style: solid; /* Define o estilo das bordas */
    border-color: transparent; /* Define a cor da borda como transparente por padrão */
}

/* Estilo do Corpo */
body {
    background: url("../images/background.JPG") no-repeat center center fixed;
    background-size: cover;
    margin: 5;
    padding: 10;
    overflow-x: hidden;
}

/* Estilos de Contêiner */
.container {
    text-align: center;
    padding: 20px;
}

/* Cabeçalho */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 30;
    margin: 0;
}

.nav-list li {
    margin-right: 90px;
}

/* Botões Genéricos */
.button,
.nav-button,
.entrar-btn,
.pesquisa-btn,
.divulgar-btn,
.buscar-btn,
.adote-me-btn,
.saiba-mais-btn {
    background-color: #f8cffc;
    color: #d2a2fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Diminuir o tamanho da fonte dos botões */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.button {
    padding: 10px 30px; /* Diminuir o tamanho dos botões */
}

.nav-button,
.entrar-btn,
.pesquisa-btn,
.divulgar-btn,
.buscar-btn,
.adote-me-btn,
.saiba-mais-btn {
    padding: 6px 14px; /* Diminuir o tamanho dos botões */
    max-width: 150px;
}

.button:hover,
.nav-button:hover,
.entrar-btn:hover,
.pesquisa-btn:hover,
.divulgar-btn:hover,
.buscar-btn:hover,
.adote-me-btn:hover,
.saiba-mais-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--hover-shadow);
    transform: translateY(-5px);
}

/* Botão de Login */
.entrar-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    transform: scale(1.05);
}

/* Grade de Pets e Livros */
.content-grid {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
}

.pets-section,
.books-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.pets-grid,
.livros-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

/* Cartões de Pets e Livros */
.pet-card,
.livro-card {
    background-color: var(--highlight-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Aumenta a largura dos cartões */
    box-shadow: var(--hover-shadow);
}

.livro-card {
    background-color: var(--book-background-color);
}

.pet-img,
.livro-img {
    width: 150px; /* Define a largura das imagens */
    height: 150px; /* Define a altura das imagens */
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.pet-info-left,
.livro-info-left {
    text-align: left;
    color: var(--text-color);
    margin-left: 10px;
}

.livro-info-left {
    color: #eff493;
}

.pet-info-left p,
.livro-info-left p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.pet-info-left button,
.livro-info-left button {
    margin-top: 10px;
}

/* Título das Seções */
.section-title {
    font-family: 'Georgia', serif; /* Mudar a fonte do título */
    font-size: 24px; /* Tamanho da fonte do título */
    text-align: center; /* Centralizar o título */
    color: var(--text-color);
}

/* Linha Divisória */
.section-divider {
    width: 80%;
    margin: 40px auto;
    border: 1px solid var(--text-color);
}

/* Formulário de Busca */
.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.search-input,
.search-select,
.buscar-btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}

.search-input,
.search-select {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.buscar-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.buscar-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--hover-shadow);
    transform: scale(1.05);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.footer-imagens {
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
        width: 100%;
    }

    .pesquisa-btn,
    .divulgar-btn {
        width: 100%;
    }

    .content-grid {
        flex-direction: column;
    }

    .pets-section,
    .books-section {
        width: 100%;
    }

    .pet-card,
    .livro-card {
        width: 90%;
        max-width: 300px;
    }
}